:root {
  font-family: 'Signika', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-size: 1rem;
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  transition: all 0.3s ease;

}
a:hover {
  font-size: 1.1rem;
  color: #6cd19f;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  background-color: #535bf2;
  min-height: 100vh;
  background-image: url('./assets/sky.jpg');  
  background-size: cover; /* Adjust the background size as needed */
  background-repeat: no-repeat;
  background-position: center;
}


@font-face {
  font-family: Massiva;
  src: url(../public/Masiva-Black.ttf) format(ttf);
  
}


@font-face {
  font-family: Arcade_N ;
  src: url(../public/ARCADE_I.TTF) format(ttf);
}

h1 {
  
/* font-weight:bolder; */
  font-size: 2.5em;
  line-height: 1.1;
}

h2 {
  color: aliceblue;
  font-family: Massiva;
  font-size: 1.5em;
  text-decoration: underline;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #d8df16;
    background-color: #ffffff;
  }
  a:hover {
    font-size: 1.1rem;
    color: #6cd19f;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 768px) {


  h1 {
  
    /* font-weight:bolder; */
      font-size: 1.5em;
      line-height: 1.1;
    }
    
    h2 {
      color: aliceblue;
      font-family: massova;
      font-size: 1em;
      text-decoration: underline;
    }


}